<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">

      <div id="logo-banner">
          {% if site.amwa_id == "SPECS" %}
              <a href="https://www.amwa.tv"><img id="amwa-logo" src="{{ site.baseurl }}/assets/images/AMWA-logo.png" alt="AMWA logo"/></a>
              <span id="title">Advanced Media Workflow Association</span>
              <a href="https://www.amwa.tv"><img id="amwa-logo" src="{{ site.baseurl }}/assets/images/AMWA-logo.png" alt="AMWA logo"/></a>

          {% else %}
              <a href="https://{{ site.spec_server }}/nmos"><img id="nmos-logo" src="{{ site.baseurl }}/assets/images/NMOS-logo.png" alt="NMOS logo"/></a>
              <span id="title">Networked Media Open Specifications</span>
              <a href="https://www.amwa.tv/"><img id="from-amwa-logo" src="{{ site.baseurl }}/assets/images/from-AMWA-logo.png" target="_blank" alt="from AMWA logo"/></a>

          {% endif %}
      </div>

        <div class="header" id="myHeader">

        {% unless site.amwa_id contains "IS-" or site.amwa_id contains "MS-" or site.amwa_id contains "BCP-002-" or site.amwa_id contains "BCP-003-" or site.amwa_id contains "BCP-004-" %}
            <a href="{{ site.baseurl }}/">HOME</a>
        {% endunless %}

          {% case site.amwa_id %}

          {% when "SPECS" %}
            <a href="https://specs.amwa.tv/nmos">NMOS</a>
            <a href="https://amwa.tv/projects/AS-11.shtml">AS-11</a>

          {% when "NMOS" %}
            <a href="{{ site.baseurl }}/branches/main/docs/2.0._Technical_Overview.html">OVERVIEW</a>

          {% when "BCP-002" %}
            <span class="dropdown">RECS...
                <div class="dropdown-content">
                  <p><a href="{{ site.baseurl }}/branches/main/best-practice-natural-grouping.html">Natural Grouping</a></p>
                </div>
            </span>

          {% when "BCP-003" %}
            <span class="dropdown">RECS...
                <div class="dropdown-content">
                  <p><a href="{{ site.baseurl }}/branches/v1.0-dev/bcp-003-01-securing-communications.html">BCP-003-01 Securing Communications</a></p>
                  <p><a href="{{ site.baseurl }}/branches/v1.0-dev/bcp-003-02-authorization.html">BCP-003-02 Authorization</a></p>
                  <p><a href="{{ site.baseurl }}/branches/v1.0-dev/bcp-003-03-certificate-provisioning.html">BCP-003-03 Certificate Provisioning</a></p>
                </div>
            </span>

          {% when "NMOS-PARAMETER-REGISTERS" %}
            <span class="dropdown">REGISTERS...
              <div class="dropdown-content">
                <p><a href="{{ site.baseurl }}/{{ site.default_tree }}/node-service-types">Node Service Types</a></p>
                <p><a href="{{ site.baseurl }}/{{ site.default_tree }}/device-control-types">Device Control Types</a></p>
                <p><a href="{{ site.baseurl }}/{{ site.default_tree }}/formats">Formats</a></p>
                <p><a href="{{ site.baseurl }}/{{ site.default_tree }}/transports">Transports</a></p>
                <p><a href="{{ site.baseurl }}/{{ site.default_tree }}/device-types">Device Types</a></p>
                <p><a href="{{ site.baseurl }}/{{ site.default_tree }}/tags">Tags</a></p>
              </div>
            </span>

          {% when "MS-04" %}
            <a href="{{ site.baseurl }}/{{ site.default_tree }}/docs/1.0._Overview.html">OVERVIEW</a>
            <a href="{{ site.baseurl }}/{{ site.default_tree }}/docs/2.0._Identity_and_Timing_Model.html">MODEL</a>
            <a href="{{ site.baseurl }}/{{ site.default_tree }}/docs/3.0._Practical_Guidance_for_Media.html">GUIDANCE</a>

          {% when "NMOS-TESTING" %}
            <a href="{{ site.baseurl }}/{{ site.default_tree }}/docs">DOCS</a>

          {% else %}

            {% if site.amwa_id contains "IS-" or site.amwa_id contains "BCP-003-" or site.amwa_id contains "BCP-004-" %}
              <span class="dropdown">SPEC...
                <div class="dropdown-content">
                    <p><a href="{{ site.baseurl }}/{{ site.default_tree }}/docs">DOCS</a></p>
                  {% if site.amwa_id contains "IS-" %}
                    <p><a href="{{ site.baseurl }}/{{ site.default_tree }}/APIs">APIS</a></p>
                  {% endif %}
                  {% if site.amwa_id contains "IS-" or site.amwa_id contains "BCP-004-" %}
                    <p><a href="{{ site.baseurl }}/{{ site.default_tree }}/APIs/schemas">SCHEMAS</a></p>
                    <p><a href="{{ site.baseurl }}/{{ site.default_tree }}/examples">EXAMPLES</a></p>
                  {% endif %}
                </div>
              </span>
              <span class="dropdown">VERSIONS...
                <div class="dropdown-content">
                  <p><a href="{{ site.baseurl }}/releases">PUBLISHED RELEASES</a></p>
                  <p><a href="{{ site.baseurl }}/branches">DEVELOPMENT BRANCHES</a></p>
                </div>
              </span>
            {% endif %}

            {% else %}
              UNKNOWN ID
          {% endcase %}

          {% if site.amwa_id != "SPECS" %}

              <a href="{{ site.github.repository_url }}">REPO</a>
              <span class="dropdown">INFO...
                <div class="dropdown-content">
                    <p><a href="https://{{ site.spec_server }}/nmos/branches/main/docs/3.0._FAQ.html">FAQ</a></p>
                    <p><a href="https://{{ site.spec_server }}/nmos/branches/main/docs/4.0._Glossary.html">Glossary</a></p>
                    <p><a href="https://{{ site.spec_server }}/nmos/branches/main/docs/5.0._NMOS_Solutions.html">Implementations</a></p>
                    <p><a href="https://github.com/AMWA-TV/nmos/wiki">WIKI</a></p>
                </div>
              </span>
              <span class="dropdown">TOOLS...
                <div class="dropdown-content">
                    <p><a href="https://{{ site.spec_server }}/nmos-testing">API Testing Tool</a></p>
                    <p><a href="https://{{ site.spec_server }}/nmos/Dashboard.html">CI Dashboard</a></p>
                </div>
              </span>
              <span class="dropdown">IS-...
                  <div class="dropdown-content">
                      <p><a href="https://{{ site.spec_server }}/is-04">IS-04 Discovery &amp; Registration</a></p>
                      <p><a href="https://{{ site.spec_server }}/is-05">IS-05 Connection Management</a></p>
                      <p><a href="https://{{ site.spec_server }}/is-06">IS-06 Network Control</a></p>
                      <p><a href="https://{{ site.spec_server }}/is-07">IS-07 Event &amp; Tally</a></p>
                      <p><a href="https://{{ site.spec_server }}/is-08">IS-08 Audio Channel Mapping</a></p>
                      <p><a href="https://{{ site.spec_server }}/is-09">IS-09 System Parameters</a></p>
                      <p><a href="https://{{ site.spec_server }}/is-10">IS-10 Authorization</a></p>
                  </div>
                  </span>
                  <span class="dropdown">BCP-...
                  <div class="dropdown-content">
                      <p><a href="https://{{ site.spec_server }}/bcp-002">BCP-002 Grouping</a></p>
                      <p><a href="https://{{ site.spec_server }}/bcp-002-01">BCP-002-01 Natural Grouping</a></p>
                      <p><a href="https://{{ site.spec_server }}/bcp-003">BCP-003 API Security</a></p>
                      <p><a href="https://{{ site.spec_server }}/bcp-003-01">BCP-003-01 Secure Communications</a></p>
                      <p><a href="https://{{ site.spec_server }}/bcp-003-02">BCP-003-02 Authorization Practice</a></p>
                      <p><a href="https://{{ site.spec_server }}/bcp-003-03">BCP-003-03 Certificate Provisioning</a></p>
                      <p><a href="https://{{ site.spec_server }}/bcp-004-01">BCP-004-01 Receiver Capabilities</a></p>
                  </div>
                  </span>
                  <span class="dropdown">MORE...
                  <div class="dropdown-content">
                      <p><a href="https://{{ site.spec_server }}/nmos">General NMOS Documentation</a></p>
                      <p><a href="https://{{ site.spec_server }}/ms-04">MS-04 Identity &amp; Timing Model</a></p>
                      <p><a href="https://{{ site.spec_server }}/nmos-parameter-registers">Parameter Registers</a></p>
                  </div>
                  </span>
              {% endif %}

              <span class="dropdown">SEARCH
              <div class="dropdown-content">
                  <script async src="https://cse.google.com/cse.js?cx=70787015d40930818"></script>
                  <div class="gcse-searchbox-only"></div>
              </div>
          </span>

        {% if site.amwa_id contains "IS-" or site.amwa_id contains "MS-" or site.amwa_id contains "BCP-003-" or site.amwa_id contains "BCP-004-" %}
          <div class="breadcrumbs">
              {% assign dirlist = page.url | split: "/" %}
              {% assign nlinks = dirlist.size | minus: 2 | at_most: 4 %}
              {% assign link = site.baseurl | append: "/" %}
              <a href="{{ link }}">{{ site.amwa_id }}</a> ➤
              {% for i in (1..nlinks) %}
                {% assign link = link | append: dirlist[i] | append: "/" %}
                <a href="{{ link }}"> {{ dirlist[i] }} </a> ➤
              {% endfor %}
              {% if dirlist.size > 2 %}
                {% if dirlist[1] == "branches" %}
                  <span class="version-warning"><a href="{{ site.baseurl }}/releases">Viewing development version. Click here for list of published versions.</a></span>
                {% elsif dirlist[1] == "releases" %}
                  {% assign this_tree = dirlist[2] | prepend: "releases/" %}
                  {% if this_tree != site.default_tree  %}
                    <span class="version-warning"><a href="{{ site.baseurl }}/releases">Viewing old version. Click here for list of published versions.</a></span>
                  {% endif %}
                {% endif %}
              {% endif %}
              </div>
        {% endif %}

        </div>

      <div class="content">
        {{ content }}
      </div>

      <div class="footer border-top border-gray-light mt-5 pt-3 text-center text-gray">
          Documentation built at {{ site.time | date: '%H:%M:%S %Z on %Y-%m-%d' }}. <br/>
      {% if site.github.private != true and site.github.license %}
      (c) AMWA {{ site.time | date: '%Y' }}.
      RAML/JSON licensed under <a href="https://www.apache.org/licenses/LICENSE-2.0.html">Apache 2.0</a>.
      Documentation licensed under <a href="http://creativecommons.org/licenses/by-nd/4.0/">CC BY-ND 4.0</a>.
      {% endif %}
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>

    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}


    <script>
    window.onscroll = function() {myFunction()};

    var header = document.getElementById("myHeader");
    var sticky = header.offsetTop;

    function myFunction() {
      if (window.pageYOffset > sticky) {
        header.classList.add("sticky");
      } else {
        header.classList.remove("sticky");
      }
    }

    </script>
  </body>
</html>
